<div class="container mt-4" *ngIf="job$ | async as job">
  <a routerLink="/jobs" class="btn btn-primary">
    <i class="bi bi-home"></i>Back
  </a>
  <div class="row justify-content-center">
    <h2 class="card-title">{{ job.title }}</h2>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <img
            [src]="job.companyLogo"
            class="img-fluid"
            alt="{{ job.companyName }}"
          />
        </div>
        <div class="col-md-8">
          <p><strong>Company name:</strong> {{ job.companyName }}</p>
          <p><strong>Reference:</strong> {{ job.reference }}</p>
          <p><strong>Types:</strong> {{ job.types.join(", ") }}</p>
          <p><strong>Industries:</strong> {{ job.industries.join(", ") }}</p>
          <p><strong>Publish Date:</strong> {{ job.publishDate | date }}</p>
          <p><strong>Location:</strong> {{ job.location }}</p>
        </div>
      </div>
      <div class="mt-4">
        <div [innerHTML]="job.description" class="job-description"></div>
      </div>
    </div>
  </div>
</div>
